/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/backups/
/storage/laravel-backups/
/storage/framework/views/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.png
.filesystem-laravel
